[submodule "sottomarini/canto-alla-durata"]
	path = sottomarini/canto-alla-durata
	url = https://gitlab.com/giuseppesilvi/canto-alla-durata.git
[submodule "sottomarini/pto"]
	path = sottomarini/pto
	url = https://gitlab.com/giuseppesilvi/pto.git
[submodule "sottomarini/st"]
	path = sottomarini/st
	url = https://gitlab.com/giuseppesilvi/st.git
[submodule "sottomarini/ascolto-stereofonico"]
	path = sottomarini/ascolto-stereofonico
	url = https://gitlab.com/giuseppesilvi/ascolto-stereofonico.git
[submodule "sottomarini/metp"]
	path = sottomarini/metp
	url = https://gitlab.com/giuseppesilvi/metp.git
[submodule "sottomarini/musebib"]
	path = sottomarini/musebib
	url = https://gitlab.com/giuseppesilvi/musebib.git
[submodule "arsenale/metafisica"]
	path = arsenale/metafisica
	url = https://github.com/grammaton/metafisica.git
[submodule "arsenale/pto"]
	path = arsenale/pto
	url = https://github.com/grammaton/pto.git
