[submodule "sottomarini/canto-alla-durata"]
	path = sottomarini/canto-alla-durata
	url = git@gitlab.com:giuseppesilvi/canto-alla-durata.git
[submodule "sottomarini/pto"]
	path = sottomarini/pto
	url = git@gitlab.com:giuseppesilvi/pto.git
[submodule "sottomarini/st"]
	path = sottomarini/st
	url = git@gitlab.com:giuseppesilvi/st.git
[submodule "sottomarini/metp"]
	path = sottomarini/metp
	url = git@gitlab.com:giuseppesilvi/metp.git
[submodule "arsenale/metafisica"]
	path = arsenale/metafisica
	url = git@github.com:grammaton/metafisica.git
[submodule "arsenale/pto"]
	path = arsenale/pto
	url = git@github.com:grammaton/pto.git
[submodule "arsenale/faust-libraries"]
	path = sottomarini/faust-libraries
	url = git@github.com:s-e-a-m/faust-libraries.git
[submodule "sottomarini/dibi-bib"]
	path = sottomarini/dibi-bib
	url = git@github.com:grammaton/dibi-bib.git
[submodule "arsenale/adui"]
	path = arsenale/adui
	url = git@github.com:Metabolismo/adui.git
[submodule "arsenale/luz"]
	path = arsenale/luz
	url = git@github.com:Metabolismo/luz.git
